Pathfinder Visualizer Requirements

Team Members
Adrian West, Bo Yang Li, Tanya Peacock

Purpose
This projects allows for people to see how pathfinding algorithms work

Requirements
1. Algorithm Controller
Type: functional
Summary: Controls the how the algorithm works

2. Observers
Type: functional
Summary: Observes the states of objects and changes them as needed

3. Tile Renderers
Type: functional
Summary: Renders different kinds of tiles to be placed or deleted

4. UI Controls
Type: functional
Summary: Helps control different sections of the UI

5. Startup Values
Type: functional
Summary: Contains the default values the program starts with

6. Controllers
Type: functional
Summary: Controls different portions of the application

7. Resolution
Type: constraint
Summary: Work on any size monitor

8. OS
Type: constraint
Summary: Must work on the windows OS