Pathfinder Visualizer Requirements

Team Members
Adrian West, Bo Yang Li, Tanya Peacock

Purpose
This projects allows for people to see how pathfinding algorithms work

Requirements
1. AStar Algorithm
Type: functional
Summary: Controls the how the AStar Algorithm works

2. Dijikstra Algorithm
Type: functional
Summary: Controls the how the Dijikstra Algorithm works

3. BreadthFirstSearch Algorithm
Type: functional
Summary: Controls the how the BreadthFirstSearch Algorithm works

4. GreedyBestFirstSearch Algorithm
Type: functional
Summary: Controls the how the AStar Algorithm works

5. AddSquare
Type: functional
Summary: Add squares to the grid

6. SetWall, Weight, Start
Type: functional
Summary: Sets the wall, weight, and start nodes

7. Color items
Type: functional
Summary: Colors the different kinds of squares

8. Priority Queue
Type: non-functional
Summary: Puts every square into a priority queue to be accessed later

9. Resolution
Type: constraint
Summary: Work on any size monitor

10. OS
Type: constraint
Summary: Must work on the windows OS
